mixin partners()
  .partners
    .container
      h2.title.title--h3.partners__title Партнёры
      .partners__container
        .partners__card

          .partners__logo(data-tooltip="Bayer AG — немецкая фармацевтическая и химическая компания, основанная в 1863 году. Известна своими инновациями в медицине, сельском хозяйстве и биотехнологиях.")
            +icon("logo-bayer", "56", "56")
          .partners__tooltip.tooltip Bayer AG — немецкая фармацевтическая и химическая компания, основанная в 1863 году. Известна своими инновациями в медицине, сельском хозяйстве и биотехнологиях.

        .partners__card

          .partners__logo(data-tooltip="Bristol Myers Squibb (BMS) — американская биофармацевтическая компания, специализирующаяся на разработке лекарств для лечения онкологии, иммунных и сердечно-сосудистых заболеваний.")
            +icon("logo-bristol", "151", "56")
          .partners__tooltip.tooltip Bristol Myers Squibb (BMS) — американская биофармацевтическая компания, специализирующаяся на разработке лекарств для лечения онкологии, иммунных и сердечно-сосудистых заболеваний.

        .partners__card

          .partners__logo(data-tooltip="Amgen (Applied Molecular Genetics) — одна из крупнейших биотехнологических компаний в мире, основанная в 1980 году в США. Специализируется на создании биопрепаратов для лечения рака, болезней костей, воспалительных и сердечно-сосудистых заболеваний.")
            +icon("logo-amgen", "116", "56")
          .partners__tooltip.tooltip Amgen (Applied Molecular Genetics) — одна из крупнейших биотехнологических компаний в мире, основанная в 1980 году в США. Специализируется на создании биопрепаратов для лечения рака, болезней костей, воспалительных и сердечно-сосудистых заболеваний.
