.partners {
  padding: 80px 0 100px;
  background-color: #F3F7F9;
  position: relative;
  z-index: 1;

  &__logo {
    height: 98px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    // grid-template-columns: (3, fr);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  &__title {
    margin: 0;
    margin-bottom: 34px;
  }
}

.partners__card {
  width: 100%;
  // min-width: 376px;
}

// .partners__logo {
//   position: relative;
//   // display: inline-block;
//   cursor: pointer;
// }

// .partners__logo::after {
//   content: attr(data-tooltip);
//   /* Получает текст из data-tooltip */
//   position: absolute;
//   bottom: 110%;
//   /* Размещаем тултип сверху */
//   left: 50%;
//   transform: translateX(-50%);
//   background: rgba(0, 0, 0, 0.8);
//   color: white;
//   padding: 8px 12px;
//   border-radius: 5px;
//   font-size: 12px;
//   line-height: 14px;
//   // white-space: nowrap;
//   opacity: 0;
//   visibility: hidden;
//   transition: opacity 0.2s ease-in-out;
//   width: 200px;
// }

// .partners__logo:hover::after {
//   opacity: 1;
//   visibility: visible;
// }



@media (max-width: 767px) {
  .partners__container {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
}
