.promo {
  background-color: #252D33;
  padding: 45px 0;
  position: relative;
  z-index: 1;

  .container {
    display: flex;
    gap: 40px;
  }
  &__text {
    width: 560px;
    width: 50%;
  }

  &__discount {
    width: 136px;
    height: 136px;
    color: #fff;
  }

  &__discount-wrapper {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__discount-value {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
  }

  &__title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column;

    small {
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 20%;
      text-transform: uppercase;
      color: #94A9B7;
    }
  }

  &__paragraph {
    color: #94A9B7;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    margin: 0;
  }

  &__video {
    width: 470px;
    height: 285px;
    position: relative;
  }

  &__discount {
    position: absolute;
    top: -80px;
    right: -80px;
    transform: rotate(15deg);
  }

  video {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1279px) {
  .promo__text,
  .promo__video {
    width: 50%;
  }

  .promo__discount {
    top: -75px;
    right: -20px;
  }
}

@media (max-width: 1023px) {
  .promo__discount {
    transform: scale(0.8) rotate(15deg);
  }

  .promo__video {
    width: 40%;

    .btn--play {
      width: 100px;
      height: 100px;
      padding: 0;
    }
  }

  .promo__discount {
    top: -60px;
    right: -60px;
  }
}


@media (max-width: 767px) {
  .promo .container {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }

  .promo__text{
    width: 100%;
  }

  .promo__video {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .promo__video {
    width: 90%;
  }
  .promo__discount {
    -webkit-transform: scale(.8) rotate(15deg);
    transform: scale(.6) rotate(15deg);
    top: -20px;
    right: -60px;
  }
}
