mixin modal-cta()
  .modal-cta
    h4.title.title--h4.modal-cta__title Оплата курса
    p.modal-cta__description Курс будет доступен сразу после оплаты, но для получения баллов НМО необходимо предоставить <span class="green-text">документы</span>
    .modal-cta__course-price 7 999 ₽
    button.btn.btn--green-bg.modal-cta__btn(data-open-modal="payment")
      +icon("icon-credit-card", 22, 22)
      | Перейти к оплате курса
    a(href="#").btn.modal-cta__link
      span.green-text Получить скидку 10%
