mixin modal-payment()
  h4.title.title--h4 Оплата курса (Заглушка - всплывающее окно)
  p.modal__description Введите данные платежной карты для оплаты
  p.modal__description Введите электронную почту для отправки уведомления оп оплате
    //- br
    //- | отключена анимация-скейл
